<div class="topic-new-wrapper" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">Comments</h1>
        <%= form_for @comments do |f| %>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control" %>
           <%= f.submit '変更', class: 'btn btn-black btn-block' %>
          </div> 
        <% end %>
      </div>
    </div>
  </div>