<div class="topic-index-wrapper">
  <div class="container">
      <div class="row">
        <div class="col-md-4">
         <% @topics.each do |image|
            new_topics = image%>
           <% @topics.each do |topic| %>
             <div class="topic-index-single">
               <h2 class="topic-author">
                 <%= topic.user.name %>
               </h2>
                      <%= image_tag new_topics.url %>
                    <p class="topic-text">
                       <%= topic.description %>
                    </p>
             </div>
           <% end %>
         <% end %>   
        </div> 
      </div>
  </div>    
</div>         
          
         
           
            

