<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">Which do you recommend</h1>
    <h2 class="text-white">sub title</h2>
     <div class="row">
       <div class="col-md-18">
         <%= link_to '投稿表示',  topics_index_path %>
         
           </div>     
     </div> 
  </div>
</div>         
           
     
              
         
       
     
         
       
        
   