body {
    text-align: left;
    background-color: #dddddd;
}
 
.page-header {
    background: #ffffff;
} 
.nav-brand{
    position: absolute;
    left: 500px;
    top: 5px;
}
.main-nav{
   display: flex;
   font-size: 1.5rem;
   text-transform: uppercase;
   margin-top: 50px;
   margin-left: 375px;
   list-style: none;
 }
 
.main-nav li{
    margin-top: 20px;
    margin-left: 45px;
}


.text-white {
  color: #000;
}

.btn-white {
  color: #000;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.user-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #464646;
  
  .users-new-container {
  padding-top: 220px;
 }
}

.topic-index-wrapper {
  background-color: #fafafa;
   
    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }

   
 }


.container{
   background-color: #fff;
    
  color: fff56c;
}
.col-md-4{

    
}
.row1{
  display: inline-block;
   border-style: groove;
}
.aaaa{
    float: left;
}
img.bbb{
  width: 250px;
  height: 250px;
}
