body {
    text-align: right;
}
 
.nav-brand{
    position: absolute;
    left: 20px;
    top: 20px;
}
 
nav ul li {
    display: inline-block;
    margin-right: 250px;
    top: 20px;
    border: 1px solid #cccccc;
}

